/* foundation */
/* reset */
div, input, label span {
  font-family: "Open Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

input {
  display: none;
}

input:checked + label {
  background: #000;
  border: 1px solid #fff;
}

input[type="reset"] + label {
  position: fixed;
  top: 10px;
  left: 0;
  width: auto;
  padding: 5px 10px;
  height: auto;
  background: #fff;
  box-shadow: 0 0 0 1px #ccc, 1px 1px 0 0 #ccc, 2px 2px 0 0 #ccc, 3px 3px 0 0 #ccc, 4px 4px 0 0 #ccc;
  transition: all .2s ease;
}

input[type="reset"] + label:hover {
  background: #000;
  color: #fff;
  transition: all .2s ease;
}

label {
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

label[for=rogic-checkbox-1] {
  top: 200px;
  left: 200px;
}

label[for=rogic-checkbox-2] {
  top: 200px;
  left: 225px;
}

label[for=rogic-checkbox-3] {
  top: 200px;
  left: 250px;
}

label[for=rogic-checkbox-4] {
  top: 200px;
  left: 275px;
}

label[for=rogic-checkbox-5] {
  top: 200px;
  left: 300px;
}

label[for=rogic-checkbox-6] {
  top: 200px;
  left: 325px;
}

label[for=rogic-checkbox-7] {
  top: 200px;
  left: 350px;
}

label[for=rogic-checkbox-8] {
  top: 200px;
  left: 375px;
}

label[for=rogic-checkbox-9] {
  top: 200px;
  left: 400px;
}

label[for=rogic-checkbox-10] {
  top: 200px;
  left: 425px;
}

label[for=rogic-checkbox-11] {
  top: 200px;
  left: 450px;
}

label[for=rogic-checkbox-12] {
  top: 200px;
  left: 475px;
}

label[for=rogic-checkbox-13] {
  top: 200px;
  left: 500px;
}

label[for=rogic-checkbox-14] {
  top: 200px;
  left: 525px;
}

label[for=rogic-checkbox-15] {
  top: 200px;
  left: 550px;
}

label[for=rogic-checkbox-16] {
  top: 200px;
  left: 575px;
}

label[for=rogic-checkbox-17] {
  top: 200px;
  left: 600px;
}

label[for=rogic-checkbox-18] {
  top: 200px;
  left: 625px;
}

label[for=rogic-checkbox-19] {
  top: 200px;
  left: 650px;
}

label[for=rogic-checkbox-20] {
  top: 200px;
  left: 675px;
}

label[for=rogic-checkbox-21] {
  top: 225px;
  left: 200px;
}

label[for=rogic-checkbox-22] {
  top: 225px;
  left: 225px;
}

label[for=rogic-checkbox-23] {
  top: 225px;
  left: 250px;
}

label[for=rogic-checkbox-24] {
  top: 225px;
  left: 275px;
}

label[for=rogic-checkbox-25] {
  top: 225px;
  left: 300px;
}

label[for=rogic-checkbox-26] {
  top: 225px;
  left: 325px;
}

label[for=rogic-checkbox-27] {
  top: 225px;
  left: 350px;
}

label[for=rogic-checkbox-28] {
  top: 225px;
  left: 375px;
}

label[for=rogic-checkbox-29] {
  top: 225px;
  left: 400px;
}

label[for=rogic-checkbox-30] {
  top: 225px;
  left: 425px;
}

label[for=rogic-checkbox-31] {
  top: 225px;
  left: 450px;
}

label[for=rogic-checkbox-32] {
  top: 225px;
  left: 475px;
}

label[for=rogic-checkbox-33] {
  top: 225px;
  left: 500px;
}

label[for=rogic-checkbox-34] {
  top: 225px;
  left: 525px;
}

label[for=rogic-checkbox-35] {
  top: 225px;
  left: 550px;
}

label[for=rogic-checkbox-36] {
  top: 225px;
  left: 575px;
}

label[for=rogic-checkbox-37] {
  top: 225px;
  left: 600px;
}

label[for=rogic-checkbox-38] {
  top: 225px;
  left: 625px;
}

label[for=rogic-checkbox-39] {
  top: 225px;
  left: 650px;
}

label[for=rogic-checkbox-40] {
  top: 225px;
  left: 675px;
}

label[for=rogic-checkbox-41] {
  top: 250px;
  left: 200px;
}

label[for=rogic-checkbox-42] {
  top: 250px;
  left: 225px;
}

label[for=rogic-checkbox-43] {
  top: 250px;
  left: 250px;
}

label[for=rogic-checkbox-44] {
  top: 250px;
  left: 275px;
}

label[for=rogic-checkbox-45] {
  top: 250px;
  left: 300px;
}

label[for=rogic-checkbox-46] {
  top: 250px;
  left: 325px;
}

label[for=rogic-checkbox-47] {
  top: 250px;
  left: 350px;
}

label[for=rogic-checkbox-48] {
  top: 250px;
  left: 375px;
}

label[for=rogic-checkbox-49] {
  top: 250px;
  left: 400px;
}

label[for=rogic-checkbox-50] {
  top: 250px;
  left: 425px;
}

label[for=rogic-checkbox-51] {
  top: 250px;
  left: 450px;
}

label[for=rogic-checkbox-52] {
  top: 250px;
  left: 475px;
}

label[for=rogic-checkbox-53] {
  top: 250px;
  left: 500px;
}

label[for=rogic-checkbox-54] {
  top: 250px;
  left: 525px;
}

label[for=rogic-checkbox-55] {
  top: 250px;
  left: 550px;
}

label[for=rogic-checkbox-56] {
  top: 250px;
  left: 575px;
}

label[for=rogic-checkbox-57] {
  top: 250px;
  left: 600px;
}

label[for=rogic-checkbox-58] {
  top: 250px;
  left: 625px;
}

label[for=rogic-checkbox-59] {
  top: 250px;
  left: 650px;
}

label[for=rogic-checkbox-60] {
  top: 250px;
  left: 675px;
}

label[for=rogic-checkbox-61] {
  top: 275px;
  left: 200px;
}

label[for=rogic-checkbox-62] {
  top: 275px;
  left: 225px;
}

label[for=rogic-checkbox-63] {
  top: 275px;
  left: 250px;
}

label[for=rogic-checkbox-64] {
  top: 275px;
  left: 275px;
}

label[for=rogic-checkbox-65] {
  top: 275px;
  left: 300px;
}

label[for=rogic-checkbox-66] {
  top: 275px;
  left: 325px;
}

label[for=rogic-checkbox-67] {
  top: 275px;
  left: 350px;
}

label[for=rogic-checkbox-68] {
  top: 275px;
  left: 375px;
}

label[for=rogic-checkbox-69] {
  top: 275px;
  left: 400px;
}

label[for=rogic-checkbox-70] {
  top: 275px;
  left: 425px;
}

label[for=rogic-checkbox-71] {
  top: 275px;
  left: 450px;
}

label[for=rogic-checkbox-72] {
  top: 275px;
  left: 475px;
}

label[for=rogic-checkbox-73] {
  top: 275px;
  left: 500px;
}

label[for=rogic-checkbox-74] {
  top: 275px;
  left: 525px;
}

label[for=rogic-checkbox-75] {
  top: 275px;
  left: 550px;
}

label[for=rogic-checkbox-76] {
  top: 275px;
  left: 575px;
}

label[for=rogic-checkbox-77] {
  top: 275px;
  left: 600px;
}

label[for=rogic-checkbox-78] {
  top: 275px;
  left: 625px;
}

label[for=rogic-checkbox-79] {
  top: 275px;
  left: 650px;
}

label[for=rogic-checkbox-80] {
  top: 275px;
  left: 675px;
}

label[for=rogic-checkbox-81] {
  top: 300px;
  left: 200px;
}

label[for=rogic-checkbox-82] {
  top: 300px;
  left: 225px;
}

label[for=rogic-checkbox-83] {
  top: 300px;
  left: 250px;
}

label[for=rogic-checkbox-84] {
  top: 300px;
  left: 275px;
}

label[for=rogic-checkbox-85] {
  top: 300px;
  left: 300px;
}

label[for=rogic-checkbox-86] {
  top: 300px;
  left: 325px;
}

label[for=rogic-checkbox-87] {
  top: 300px;
  left: 350px;
}

label[for=rogic-checkbox-88] {
  top: 300px;
  left: 375px;
}

label[for=rogic-checkbox-89] {
  top: 300px;
  left: 400px;
}

label[for=rogic-checkbox-90] {
  top: 300px;
  left: 425px;
}

label[for=rogic-checkbox-91] {
  top: 300px;
  left: 450px;
}

label[for=rogic-checkbox-92] {
  top: 300px;
  left: 475px;
}

label[for=rogic-checkbox-93] {
  top: 300px;
  left: 500px;
}

label[for=rogic-checkbox-94] {
  top: 300px;
  left: 525px;
}

label[for=rogic-checkbox-95] {
  top: 300px;
  left: 550px;
}

label[for=rogic-checkbox-96] {
  top: 300px;
  left: 575px;
}

label[for=rogic-checkbox-97] {
  top: 300px;
  left: 600px;
}

label[for=rogic-checkbox-98] {
  top: 300px;
  left: 625px;
}

label[for=rogic-checkbox-99] {
  top: 300px;
  left: 650px;
}

label[for=rogic-checkbox-100] {
  top: 300px;
  left: 675px;
}

label[for=rogic-checkbox-101] {
  top: 325px;
  left: 200px;
}

label[for=rogic-checkbox-102] {
  top: 325px;
  left: 225px;
}

label[for=rogic-checkbox-103] {
  top: 325px;
  left: 250px;
}

label[for=rogic-checkbox-104] {
  top: 325px;
  left: 275px;
}

label[for=rogic-checkbox-105] {
  top: 325px;
  left: 300px;
}

label[for=rogic-checkbox-106] {
  top: 325px;
  left: 325px;
}

label[for=rogic-checkbox-107] {
  top: 325px;
  left: 350px;
}

label[for=rogic-checkbox-108] {
  top: 325px;
  left: 375px;
}

label[for=rogic-checkbox-109] {
  top: 325px;
  left: 400px;
}

label[for=rogic-checkbox-110] {
  top: 325px;
  left: 425px;
}

label[for=rogic-checkbox-111] {
  top: 325px;
  left: 450px;
}

label[for=rogic-checkbox-112] {
  top: 325px;
  left: 475px;
}

label[for=rogic-checkbox-113] {
  top: 325px;
  left: 500px;
}

label[for=rogic-checkbox-114] {
  top: 325px;
  left: 525px;
}

label[for=rogic-checkbox-115] {
  top: 325px;
  left: 550px;
}

label[for=rogic-checkbox-116] {
  top: 325px;
  left: 575px;
}

label[for=rogic-checkbox-117] {
  top: 325px;
  left: 600px;
}

label[for=rogic-checkbox-118] {
  top: 325px;
  left: 625px;
}

label[for=rogic-checkbox-119] {
  top: 325px;
  left: 650px;
}

label[for=rogic-checkbox-120] {
  top: 325px;
  left: 675px;
}

label[for=rogic-checkbox-121] {
  top: 350px;
  left: 200px;
}

label[for=rogic-checkbox-122] {
  top: 350px;
  left: 225px;
}

label[for=rogic-checkbox-123] {
  top: 350px;
  left: 250px;
}

label[for=rogic-checkbox-124] {
  top: 350px;
  left: 275px;
}

label[for=rogic-checkbox-125] {
  top: 350px;
  left: 300px;
}

label[for=rogic-checkbox-126] {
  top: 350px;
  left: 325px;
}

label[for=rogic-checkbox-127] {
  top: 350px;
  left: 350px;
}

label[for=rogic-checkbox-128] {
  top: 350px;
  left: 375px;
}

label[for=rogic-checkbox-129] {
  top: 350px;
  left: 400px;
}

label[for=rogic-checkbox-130] {
  top: 350px;
  left: 425px;
}

label[for=rogic-checkbox-131] {
  top: 350px;
  left: 450px;
}

label[for=rogic-checkbox-132] {
  top: 350px;
  left: 475px;
}

label[for=rogic-checkbox-133] {
  top: 350px;
  left: 500px;
}

label[for=rogic-checkbox-134] {
  top: 350px;
  left: 525px;
}

label[for=rogic-checkbox-135] {
  top: 350px;
  left: 550px;
}

label[for=rogic-checkbox-136] {
  top: 350px;
  left: 575px;
}

label[for=rogic-checkbox-137] {
  top: 350px;
  left: 600px;
}

label[for=rogic-checkbox-138] {
  top: 350px;
  left: 625px;
}

label[for=rogic-checkbox-139] {
  top: 350px;
  left: 650px;
}

label[for=rogic-checkbox-140] {
  top: 350px;
  left: 675px;
}

label[for=rogic-checkbox-141] {
  top: 375px;
  left: 200px;
}

label[for=rogic-checkbox-142] {
  top: 375px;
  left: 225px;
}

label[for=rogic-checkbox-143] {
  top: 375px;
  left: 250px;
}

label[for=rogic-checkbox-144] {
  top: 375px;
  left: 275px;
}

label[for=rogic-checkbox-145] {
  top: 375px;
  left: 300px;
}

label[for=rogic-checkbox-146] {
  top: 375px;
  left: 325px;
}

label[for=rogic-checkbox-147] {
  top: 375px;
  left: 350px;
}

label[for=rogic-checkbox-148] {
  top: 375px;
  left: 375px;
}

label[for=rogic-checkbox-149] {
  top: 375px;
  left: 400px;
}

label[for=rogic-checkbox-150] {
  top: 375px;
  left: 425px;
}

label[for=rogic-checkbox-151] {
  top: 375px;
  left: 450px;
}

label[for=rogic-checkbox-152] {
  top: 375px;
  left: 475px;
}

label[for=rogic-checkbox-153] {
  top: 375px;
  left: 500px;
}

label[for=rogic-checkbox-154] {
  top: 375px;
  left: 525px;
}

label[for=rogic-checkbox-155] {
  top: 375px;
  left: 550px;
}

label[for=rogic-checkbox-156] {
  top: 375px;
  left: 575px;
}

label[for=rogic-checkbox-157] {
  top: 375px;
  left: 600px;
}

label[for=rogic-checkbox-158] {
  top: 375px;
  left: 625px;
}

label[for=rogic-checkbox-159] {
  top: 375px;
  left: 650px;
}

label[for=rogic-checkbox-160] {
  top: 375px;
  left: 675px;
}

label[for=rogic-checkbox-161] {
  top: 400px;
  left: 200px;
}

label[for=rogic-checkbox-162] {
  top: 400px;
  left: 225px;
}

label[for=rogic-checkbox-163] {
  top: 400px;
  left: 250px;
}

label[for=rogic-checkbox-164] {
  top: 400px;
  left: 275px;
}

label[for=rogic-checkbox-165] {
  top: 400px;
  left: 300px;
}

label[for=rogic-checkbox-166] {
  top: 400px;
  left: 325px;
}

label[for=rogic-checkbox-167] {
  top: 400px;
  left: 350px;
}

label[for=rogic-checkbox-168] {
  top: 400px;
  left: 375px;
}

label[for=rogic-checkbox-169] {
  top: 400px;
  left: 400px;
}

label[for=rogic-checkbox-170] {
  top: 400px;
  left: 425px;
}

label[for=rogic-checkbox-171] {
  top: 400px;
  left: 450px;
}

label[for=rogic-checkbox-172] {
  top: 400px;
  left: 475px;
}

label[for=rogic-checkbox-173] {
  top: 400px;
  left: 500px;
}

label[for=rogic-checkbox-174] {
  top: 400px;
  left: 525px;
}

label[for=rogic-checkbox-175] {
  top: 400px;
  left: 550px;
}

label[for=rogic-checkbox-176] {
  top: 400px;
  left: 575px;
}

label[for=rogic-checkbox-177] {
  top: 400px;
  left: 600px;
}

label[for=rogic-checkbox-178] {
  top: 400px;
  left: 625px;
}

label[for=rogic-checkbox-179] {
  top: 400px;
  left: 650px;
}

label[for=rogic-checkbox-180] {
  top: 400px;
  left: 675px;
}

label[for=rogic-checkbox-181] {
  top: 425px;
  left: 200px;
}

label[for=rogic-checkbox-182] {
  top: 425px;
  left: 225px;
}

label[for=rogic-checkbox-183] {
  top: 425px;
  left: 250px;
}

label[for=rogic-checkbox-184] {
  top: 425px;
  left: 275px;
}

label[for=rogic-checkbox-185] {
  top: 425px;
  left: 300px;
}

label[for=rogic-checkbox-186] {
  top: 425px;
  left: 325px;
}

label[for=rogic-checkbox-187] {
  top: 425px;
  left: 350px;
}

label[for=rogic-checkbox-188] {
  top: 425px;
  left: 375px;
}

label[for=rogic-checkbox-189] {
  top: 425px;
  left: 400px;
}

label[for=rogic-checkbox-190] {
  top: 425px;
  left: 425px;
}

label[for=rogic-checkbox-191] {
  top: 425px;
  left: 450px;
}

label[for=rogic-checkbox-192] {
  top: 425px;
  left: 475px;
}

label[for=rogic-checkbox-193] {
  top: 425px;
  left: 500px;
}

label[for=rogic-checkbox-194] {
  top: 425px;
  left: 525px;
}

label[for=rogic-checkbox-195] {
  top: 425px;
  left: 550px;
}

label[for=rogic-checkbox-196] {
  top: 425px;
  left: 575px;
}

label[for=rogic-checkbox-197] {
  top: 425px;
  left: 600px;
}

label[for=rogic-checkbox-198] {
  top: 425px;
  left: 625px;
}

label[for=rogic-checkbox-199] {
  top: 425px;
  left: 650px;
}

label[for=rogic-checkbox-200] {
  top: 425px;
  left: 675px;
}

label[for=rogic-checkbox-201] {
  top: 450px;
  left: 200px;
}

label[for=rogic-checkbox-202] {
  top: 450px;
  left: 225px;
}

label[for=rogic-checkbox-203] {
  top: 450px;
  left: 250px;
}

label[for=rogic-checkbox-204] {
  top: 450px;
  left: 275px;
}

label[for=rogic-checkbox-205] {
  top: 450px;
  left: 300px;
}

label[for=rogic-checkbox-206] {
  top: 450px;
  left: 325px;
}

label[for=rogic-checkbox-207] {
  top: 450px;
  left: 350px;
}

label[for=rogic-checkbox-208] {
  top: 450px;
  left: 375px;
}

label[for=rogic-checkbox-209] {
  top: 450px;
  left: 400px;
}

label[for=rogic-checkbox-210] {
  top: 450px;
  left: 425px;
}

label[for=rogic-checkbox-211] {
  top: 450px;
  left: 450px;
}

label[for=rogic-checkbox-212] {
  top: 450px;
  left: 475px;
}

label[for=rogic-checkbox-213] {
  top: 450px;
  left: 500px;
}

label[for=rogic-checkbox-214] {
  top: 450px;
  left: 525px;
}

label[for=rogic-checkbox-215] {
  top: 450px;
  left: 550px;
}

label[for=rogic-checkbox-216] {
  top: 450px;
  left: 575px;
}

label[for=rogic-checkbox-217] {
  top: 450px;
  left: 600px;
}

label[for=rogic-checkbox-218] {
  top: 450px;
  left: 625px;
}

label[for=rogic-checkbox-219] {
  top: 450px;
  left: 650px;
}

label[for=rogic-checkbox-220] {
  top: 450px;
  left: 675px;
}

label[for=rogic-checkbox-221] {
  top: 475px;
  left: 200px;
}

label[for=rogic-checkbox-222] {
  top: 475px;
  left: 225px;
}

label[for=rogic-checkbox-223] {
  top: 475px;
  left: 250px;
}

label[for=rogic-checkbox-224] {
  top: 475px;
  left: 275px;
}

label[for=rogic-checkbox-225] {
  top: 475px;
  left: 300px;
}

label[for=rogic-checkbox-226] {
  top: 475px;
  left: 325px;
}

label[for=rogic-checkbox-227] {
  top: 475px;
  left: 350px;
}

label[for=rogic-checkbox-228] {
  top: 475px;
  left: 375px;
}

label[for=rogic-checkbox-229] {
  top: 475px;
  left: 400px;
}

label[for=rogic-checkbox-230] {
  top: 475px;
  left: 425px;
}

label[for=rogic-checkbox-231] {
  top: 475px;
  left: 450px;
}

label[for=rogic-checkbox-232] {
  top: 475px;
  left: 475px;
}

label[for=rogic-checkbox-233] {
  top: 475px;
  left: 500px;
}

label[for=rogic-checkbox-234] {
  top: 475px;
  left: 525px;
}

label[for=rogic-checkbox-235] {
  top: 475px;
  left: 550px;
}

label[for=rogic-checkbox-236] {
  top: 475px;
  left: 575px;
}

label[for=rogic-checkbox-237] {
  top: 475px;
  left: 600px;
}

label[for=rogic-checkbox-238] {
  top: 475px;
  left: 625px;
}

label[for=rogic-checkbox-239] {
  top: 475px;
  left: 650px;
}

label[for=rogic-checkbox-240] {
  top: 475px;
  left: 675px;
}

label[for=rogic-checkbox-241] {
  top: 500px;
  left: 200px;
}

label[for=rogic-checkbox-242] {
  top: 500px;
  left: 225px;
}

label[for=rogic-checkbox-243] {
  top: 500px;
  left: 250px;
}

label[for=rogic-checkbox-244] {
  top: 500px;
  left: 275px;
}

label[for=rogic-checkbox-245] {
  top: 500px;
  left: 300px;
}

label[for=rogic-checkbox-246] {
  top: 500px;
  left: 325px;
}

label[for=rogic-checkbox-247] {
  top: 500px;
  left: 350px;
}

label[for=rogic-checkbox-248] {
  top: 500px;
  left: 375px;
}

label[for=rogic-checkbox-249] {
  top: 500px;
  left: 400px;
}

label[for=rogic-checkbox-250] {
  top: 500px;
  left: 425px;
}

label[for=rogic-checkbox-251] {
  top: 500px;
  left: 450px;
}

label[for=rogic-checkbox-252] {
  top: 500px;
  left: 475px;
}

label[for=rogic-checkbox-253] {
  top: 500px;
  left: 500px;
}

label[for=rogic-checkbox-254] {
  top: 500px;
  left: 525px;
}

label[for=rogic-checkbox-255] {
  top: 500px;
  left: 550px;
}

label[for=rogic-checkbox-256] {
  top: 500px;
  left: 575px;
}

label[for=rogic-checkbox-257] {
  top: 500px;
  left: 600px;
}

label[for=rogic-checkbox-258] {
  top: 500px;
  left: 625px;
}

label[for=rogic-checkbox-259] {
  top: 500px;
  left: 650px;
}

label[for=rogic-checkbox-260] {
  top: 500px;
  left: 675px;
}

label[for=rogic-checkbox-261] {
  top: 525px;
  left: 200px;
}

label[for=rogic-checkbox-262] {
  top: 525px;
  left: 225px;
}

label[for=rogic-checkbox-263] {
  top: 525px;
  left: 250px;
}

label[for=rogic-checkbox-264] {
  top: 525px;
  left: 275px;
}

label[for=rogic-checkbox-265] {
  top: 525px;
  left: 300px;
}

label[for=rogic-checkbox-266] {
  top: 525px;
  left: 325px;
}

label[for=rogic-checkbox-267] {
  top: 525px;
  left: 350px;
}

label[for=rogic-checkbox-268] {
  top: 525px;
  left: 375px;
}

label[for=rogic-checkbox-269] {
  top: 525px;
  left: 400px;
}

label[for=rogic-checkbox-270] {
  top: 525px;
  left: 425px;
}

label[for=rogic-checkbox-271] {
  top: 525px;
  left: 450px;
}

label[for=rogic-checkbox-272] {
  top: 525px;
  left: 475px;
}

label[for=rogic-checkbox-273] {
  top: 525px;
  left: 500px;
}

label[for=rogic-checkbox-274] {
  top: 525px;
  left: 525px;
}

label[for=rogic-checkbox-275] {
  top: 525px;
  left: 550px;
}

label[for=rogic-checkbox-276] {
  top: 525px;
  left: 575px;
}

label[for=rogic-checkbox-277] {
  top: 525px;
  left: 600px;
}

label[for=rogic-checkbox-278] {
  top: 525px;
  left: 625px;
}

label[for=rogic-checkbox-279] {
  top: 525px;
  left: 650px;
}

label[for=rogic-checkbox-280] {
  top: 525px;
  left: 675px;
}

label[for=rogic-checkbox-281] {
  top: 550px;
  left: 200px;
}

label[for=rogic-checkbox-282] {
  top: 550px;
  left: 225px;
}

label[for=rogic-checkbox-283] {
  top: 550px;
  left: 250px;
}

label[for=rogic-checkbox-284] {
  top: 550px;
  left: 275px;
}

label[for=rogic-checkbox-285] {
  top: 550px;
  left: 300px;
}

label[for=rogic-checkbox-286] {
  top: 550px;
  left: 325px;
}

label[for=rogic-checkbox-287] {
  top: 550px;
  left: 350px;
}

label[for=rogic-checkbox-288] {
  top: 550px;
  left: 375px;
}

label[for=rogic-checkbox-289] {
  top: 550px;
  left: 400px;
}

label[for=rogic-checkbox-290] {
  top: 550px;
  left: 425px;
}

label[for=rogic-checkbox-291] {
  top: 550px;
  left: 450px;
}

label[for=rogic-checkbox-292] {
  top: 550px;
  left: 475px;
}

label[for=rogic-checkbox-293] {
  top: 550px;
  left: 500px;
}

label[for=rogic-checkbox-294] {
  top: 550px;
  left: 525px;
}

label[for=rogic-checkbox-295] {
  top: 550px;
  left: 550px;
}

label[for=rogic-checkbox-296] {
  top: 550px;
  left: 575px;
}

label[for=rogic-checkbox-297] {
  top: 550px;
  left: 600px;
}

label[for=rogic-checkbox-298] {
  top: 550px;
  left: 625px;
}

label[for=rogic-checkbox-299] {
  top: 550px;
  left: 650px;
}

label[for=rogic-checkbox-300] {
  top: 550px;
  left: 675px;
}

label[for=rogic-checkbox-301] {
  top: 575px;
  left: 200px;
}

label[for=rogic-checkbox-302] {
  top: 575px;
  left: 225px;
}

label[for=rogic-checkbox-303] {
  top: 575px;
  left: 250px;
}

label[for=rogic-checkbox-304] {
  top: 575px;
  left: 275px;
}

label[for=rogic-checkbox-305] {
  top: 575px;
  left: 300px;
}

label[for=rogic-checkbox-306] {
  top: 575px;
  left: 325px;
}

label[for=rogic-checkbox-307] {
  top: 575px;
  left: 350px;
}

label[for=rogic-checkbox-308] {
  top: 575px;
  left: 375px;
}

label[for=rogic-checkbox-309] {
  top: 575px;
  left: 400px;
}

label[for=rogic-checkbox-310] {
  top: 575px;
  left: 425px;
}

label[for=rogic-checkbox-311] {
  top: 575px;
  left: 450px;
}

label[for=rogic-checkbox-312] {
  top: 575px;
  left: 475px;
}

label[for=rogic-checkbox-313] {
  top: 575px;
  left: 500px;
}

label[for=rogic-checkbox-314] {
  top: 575px;
  left: 525px;
}

label[for=rogic-checkbox-315] {
  top: 575px;
  left: 550px;
}

label[for=rogic-checkbox-316] {
  top: 575px;
  left: 575px;
}

label[for=rogic-checkbox-317] {
  top: 575px;
  left: 600px;
}

label[for=rogic-checkbox-318] {
  top: 575px;
  left: 625px;
}

label[for=rogic-checkbox-319] {
  top: 575px;
  left: 650px;
}

label[for=rogic-checkbox-320] {
  top: 575px;
  left: 675px;
}

label[for=rogic-checkbox-321] {
  top: 600px;
  left: 200px;
}

label[for=rogic-checkbox-322] {
  top: 600px;
  left: 225px;
}

label[for=rogic-checkbox-323] {
  top: 600px;
  left: 250px;
}

label[for=rogic-checkbox-324] {
  top: 600px;
  left: 275px;
}

label[for=rogic-checkbox-325] {
  top: 600px;
  left: 300px;
}

label[for=rogic-checkbox-326] {
  top: 600px;
  left: 325px;
}

label[for=rogic-checkbox-327] {
  top: 600px;
  left: 350px;
}

label[for=rogic-checkbox-328] {
  top: 600px;
  left: 375px;
}

label[for=rogic-checkbox-329] {
  top: 600px;
  left: 400px;
}

label[for=rogic-checkbox-330] {
  top: 600px;
  left: 425px;
}

label[for=rogic-checkbox-331] {
  top: 600px;
  left: 450px;
}

label[for=rogic-checkbox-332] {
  top: 600px;
  left: 475px;
}

label[for=rogic-checkbox-333] {
  top: 600px;
  left: 500px;
}

label[for=rogic-checkbox-334] {
  top: 600px;
  left: 525px;
}

label[for=rogic-checkbox-335] {
  top: 600px;
  left: 550px;
}

label[for=rogic-checkbox-336] {
  top: 600px;
  left: 575px;
}

label[for=rogic-checkbox-337] {
  top: 600px;
  left: 600px;
}

label[for=rogic-checkbox-338] {
  top: 600px;
  left: 625px;
}

label[for=rogic-checkbox-339] {
  top: 600px;
  left: 650px;
}

label[for=rogic-checkbox-340] {
  top: 600px;
  left: 675px;
}

label[for=rogic-checkbox-341] {
  top: 625px;
  left: 200px;
}

label[for=rogic-checkbox-342] {
  top: 625px;
  left: 225px;
}

label[for=rogic-checkbox-343] {
  top: 625px;
  left: 250px;
}

label[for=rogic-checkbox-344] {
  top: 625px;
  left: 275px;
}

label[for=rogic-checkbox-345] {
  top: 625px;
  left: 300px;
}

label[for=rogic-checkbox-346] {
  top: 625px;
  left: 325px;
}

label[for=rogic-checkbox-347] {
  top: 625px;
  left: 350px;
}

label[for=rogic-checkbox-348] {
  top: 625px;
  left: 375px;
}

label[for=rogic-checkbox-349] {
  top: 625px;
  left: 400px;
}

label[for=rogic-checkbox-350] {
  top: 625px;
  left: 425px;
}

label[for=rogic-checkbox-351] {
  top: 625px;
  left: 450px;
}

label[for=rogic-checkbox-352] {
  top: 625px;
  left: 475px;
}

label[for=rogic-checkbox-353] {
  top: 625px;
  left: 500px;
}

label[for=rogic-checkbox-354] {
  top: 625px;
  left: 525px;
}

label[for=rogic-checkbox-355] {
  top: 625px;
  left: 550px;
}

label[for=rogic-checkbox-356] {
  top: 625px;
  left: 575px;
}

label[for=rogic-checkbox-357] {
  top: 625px;
  left: 600px;
}

label[for=rogic-checkbox-358] {
  top: 625px;
  left: 625px;
}

label[for=rogic-checkbox-359] {
  top: 625px;
  left: 650px;
}

label[for=rogic-checkbox-360] {
  top: 625px;
  left: 675px;
}

label[for=rogic-checkbox-361] {
  top: 650px;
  left: 200px;
}

label[for=rogic-checkbox-362] {
  top: 650px;
  left: 225px;
}

label[for=rogic-checkbox-363] {
  top: 650px;
  left: 250px;
}

label[for=rogic-checkbox-364] {
  top: 650px;
  left: 275px;
}

label[for=rogic-checkbox-365] {
  top: 650px;
  left: 300px;
}

label[for=rogic-checkbox-366] {
  top: 650px;
  left: 325px;
}

label[for=rogic-checkbox-367] {
  top: 650px;
  left: 350px;
}

label[for=rogic-checkbox-368] {
  top: 650px;
  left: 375px;
}

label[for=rogic-checkbox-369] {
  top: 650px;
  left: 400px;
}

label[for=rogic-checkbox-370] {
  top: 650px;
  left: 425px;
}

label[for=rogic-checkbox-371] {
  top: 650px;
  left: 450px;
}

label[for=rogic-checkbox-372] {
  top: 650px;
  left: 475px;
}

label[for=rogic-checkbox-373] {
  top: 650px;
  left: 500px;
}

label[for=rogic-checkbox-374] {
  top: 650px;
  left: 525px;
}

label[for=rogic-checkbox-375] {
  top: 650px;
  left: 550px;
}

label[for=rogic-checkbox-376] {
  top: 650px;
  left: 575px;
}

label[for=rogic-checkbox-377] {
  top: 650px;
  left: 600px;
}

label[for=rogic-checkbox-378] {
  top: 650px;
  left: 625px;
}

label[for=rogic-checkbox-379] {
  top: 650px;
  left: 650px;
}

label[for=rogic-checkbox-380] {
  top: 650px;
  left: 675px;
}

label[for=rogic-checkbox-381] {
  top: 675px;
  left: 200px;
}

label[for=rogic-checkbox-382] {
  top: 675px;
  left: 225px;
}

label[for=rogic-checkbox-383] {
  top: 675px;
  left: 250px;
}

label[for=rogic-checkbox-384] {
  top: 675px;
  left: 275px;
}

label[for=rogic-checkbox-385] {
  top: 675px;
  left: 300px;
}

label[for=rogic-checkbox-386] {
  top: 675px;
  left: 325px;
}

label[for=rogic-checkbox-387] {
  top: 675px;
  left: 350px;
}

label[for=rogic-checkbox-388] {
  top: 675px;
  left: 375px;
}

label[for=rogic-checkbox-389] {
  top: 675px;
  left: 400px;
}

label[for=rogic-checkbox-390] {
  top: 675px;
  left: 425px;
}

label[for=rogic-checkbox-391] {
  top: 675px;
  left: 450px;
}

label[for=rogic-checkbox-392] {
  top: 675px;
  left: 475px;
}

label[for=rogic-checkbox-393] {
  top: 675px;
  left: 500px;
}

label[for=rogic-checkbox-394] {
  top: 675px;
  left: 525px;
}

label[for=rogic-checkbox-395] {
  top: 675px;
  left: 550px;
}

label[for=rogic-checkbox-396] {
  top: 675px;
  left: 575px;
}

label[for=rogic-checkbox-397] {
  top: 675px;
  left: 600px;
}

label[for=rogic-checkbox-398] {
  top: 675px;
  left: 625px;
}

label[for=rogic-checkbox-399] {
  top: 675px;
  left: 650px;
}

label[for=rogic-checkbox-400] {
  top: 675px;
  left: 675px;
}

#container {
  position: absolute;
  width: 700px;
  height: 700px;
  top: 0%;
  left: 0%;
  margin: 10px;
}

#container form {
  overflow: scroll;
}

#container .rogic-inner {
  box-shadow: inset 0 0 0 1px #ccc;
  transition: all .2s ease;
  display: grid;
  grid-template-rows: 200px repeat(20, 25px);
  -ms-grid-rows: 200px repeat(20, 25px);
  grid-template-columns: 200px repeat(20, 25px);
  -ms-grid-columns: 200px repeat(20, 25px);
}

#container .rogic-inner div[class*='rogic-'] {
  transition: all .2s ease;
  box-shadow: inset 1px 1px 0 0 #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
}

#container .rogic-inner div[class*='rogic-'] span {
  text-align: center;
  width: 100%;
  display: block;
  padding: 0 5px;
}

#container .rogic-inner div[class*='rogic-']:nth-child(-n+21) span {
  letter-spacing: -.2rem;
  text-indent: -.2rem;
}

#container .rogic-inner div.rogic-7 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-12 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-17 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-22 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-23 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-24 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-25 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-26 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-27 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-28 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #000;
}

#container .rogic-inner div.rogic-29 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-30 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-31 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-32 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-33 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #000;
}

#container .rogic-inner div.rogic-34 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-35 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-36 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-37 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-38 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #000;
}

#container .rogic-inner div.rogic-39 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-40 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-41 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-42 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-49 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-54 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-59 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-70 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-75 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-80 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-91 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-96 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-101 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-112 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-117 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-122 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-127 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-128 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-129 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-130 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-131 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-132 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-133 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #000;
}

#container .rogic-inner div.rogic-134 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-135 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-136 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-137 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-138 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #000;
}

#container .rogic-inner div.rogic-139 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-140 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-141 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-142 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-143 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #000;
}

#container .rogic-inner div.rogic-144 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-145 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-146 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-147 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-154 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-159 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-164 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-175 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-180 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-185 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-196 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-201 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-206 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-217 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-222 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-227 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-232 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-233 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-234 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-235 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-236 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-237 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-238 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #000;
}

#container .rogic-inner div.rogic-239 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-240 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-241 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-242 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-243 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #000;
}

#container .rogic-inner div.rogic-244 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-245 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-246 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-247 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-248 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #000;
}

#container .rogic-inner div.rogic-249 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-250 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-251 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-252 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-259 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-264 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-269 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-280 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-285 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-290 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-301 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-306 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-311 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-322 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-327 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-332 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-337 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-338 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-339 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-340 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-341 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-342 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-343 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #000;
}

#container .rogic-inner div.rogic-344 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-345 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-346 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-347 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-348 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #000;
}

#container .rogic-inner div.rogic-349 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-350 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-351 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-352 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-353 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #000;
}

#container .rogic-inner div.rogic-354 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-355 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-356 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-357 {
  box-shadow: inset 0 1px 0 0 #000, inset 1px 0 0 0 #ccc;
}

#container .rogic-inner div.rogic-364 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-369 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-374 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-385 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-390 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-395 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-406 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-411 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-416 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-427 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-432 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-437 {
  box-shadow: inset 1px 0 0 0 #000, inset 0 1px 0 0 #ccc;
}

#container .rogic-inner div.rogic-22 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-22 span {
  width: auto;
}

#container .rogic-inner div.rogic-43 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-43 span {
  width: auto;
}

#container .rogic-inner div.rogic-64 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-64 span {
  width: auto;
}

#container .rogic-inner div.rogic-85 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-85 span {
  width: auto;
}

#container .rogic-inner div.rogic-106 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-106 span {
  width: auto;
}

#container .rogic-inner div.rogic-127 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-127 span {
  width: auto;
}

#container .rogic-inner div.rogic-148 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-148 span {
  width: auto;
}

#container .rogic-inner div.rogic-169 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-169 span {
  width: auto;
}

#container .rogic-inner div.rogic-190 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-190 span {
  width: auto;
}

#container .rogic-inner div.rogic-211 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-211 span {
  width: auto;
}

#container .rogic-inner div.rogic-232 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-232 span {
  width: auto;
}

#container .rogic-inner div.rogic-253 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-253 span {
  width: auto;
}

#container .rogic-inner div.rogic-274 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-274 span {
  width: auto;
}

#container .rogic-inner div.rogic-295 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-295 span {
  width: auto;
}

#container .rogic-inner div.rogic-316 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-316 span {
  width: auto;
}

#container .rogic-inner div.rogic-337 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-337 span {
  width: auto;
}

#container .rogic-inner div.rogic-358 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-358 span {
  width: auto;
}

#container .rogic-inner div.rogic-379 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-379 span {
  width: auto;
}

#container .rogic-inner div.rogic-400 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-400 span {
  width: auto;
}

#container .rogic-inner div.rogic-421 {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

#container .rogic-inner div.rogic-421 span {
  width: auto;
}

#container .clear_comment {
  z-index: -1;
  opacity: 0;
  position: absolute;
  transition: opacity .2s ease;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 40px;
  font-weight: bold;
  color: #81a5ff;
  text-shadow: 0 0 1px #fff;
}
