/* foundation */
$white: #fff;
$gray: #ccc;
$black: #000;
$blue: #81a5ff;
$fs-min: 1;
$fs-max: 422;
$line-min: 1;
$line-max: 441;
$row: 22, 43, 64, 85, 106, 127, 148, 169, 190, 211, 232, 253, 274, 295, 316, 337, 358, 379, 400, 421;
$numbers: 200px;

/* reset */
div, input, label span {
  font-family: "Open Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
input {
  display: none;
  &:checked + label {
    background: $black;
    border: 1px solid $white;
  }
  &[type="reset"] {
    + label {
      position: fixed;
      top: 10px;
      left: 0;
      width: auto;
      padding: 5px 10px;
      height: auto;
      background: $white;
      box-shadow: 0 0 0 1px $gray, 1px 1px 0 0 $gray, 2px 2px 0 0 $gray, 3px 3px 0 0 $gray, 4px 4px 0 0 $gray;
      transition: all .2s ease;
      &:hover {
        background: $black;
        color: $white;
        transition: all .2s ease;
      }
    }
  }
}
label {
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer;
  @for $i from $fs-min through $fs-max {
    $left: 0;
    @if $i % 20 == 0 {
      $left: 475px + $numbers;
    }
    @for $li from 1 through 19 {
      @if $i % 20 == $li {
        $left: $numbers + ( 25 * ( $li - 1) );
      }
    }
    @for $top from 0 through 19 {
      @if $i >= 1 + ($top * 20 ) and $i <= 20 + ($top * 20 ) {
        &[for=rogic-checkbox-#{$i}] {
          top: $numbers + ( 25 * $top );
          left: $left;
        }
      }
    }
  }
}

#container {
  position: absolute;
  width: 500px + $numbers;
  height: 500px + $numbers;
  top: 0%;
  left: 0%;
  margin: 10px;
  form {
    overflow: scroll;
  }
  .rogic-inner {
    box-shadow:
      inset 0 0 0 1px $gray;
    transition: all .2s ease;
    display: grid;
    grid-template-rows: $numbers repeat( 20, 25px );
         -ms-grid-rows: $numbers repeat( 20, 25px );
    grid-template-columns: $numbers repeat( 20, 25px );
         -ms-grid-columns: $numbers repeat( 20, 25px );   
    div[class*='rogic-'] {
      transition: all .2s ease;
      box-shadow: inset 1px 1px 0 0 $gray;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      align-content: flex-end;
      span {
        text-align: center;
        width: 100%;
        display: block;
        padding: 0 5px;
      }
    }
    @for $i from $line-min through $line-max {
      @if ($i >= 22 and $i <= 42) or ($i >= 127 and $i <= 147) or ($i >= 232 and $i <= 252) or ($i >= 337 and $i <= 357) {
          @if $i % 21 == 7 or $i % 21 == 12 or $i % 21 == 17 {
            div.rogic-#{$i} {
              box-shadow: inset 1px 0 0 0 $black, inset 0 1px 0 0 $black;
            }
          } @else {
            div.rogic-#{$i} {
              box-shadow: inset 0 1px 0 0 $black, inset 1px 0 0 0 $gray;
            }
          }
      } @else {
        @if $i % 21 == 7 or $i % 21 == 12 or $i % 21 == 17 {
          div.rogic-#{$i} {
            box-shadow: inset 1px 0 0 0 $black, inset 0 1px 0 0 $gray;
          }
        }
      }
    }
    @each $rows in $row {
      div.rogic-#{$rows} {
        align-content: center;
        justify-content: flex-end;
        align-items: center;
        span {
          width: auto;
        }
      }
    }
  }
  .clear_comment {
    z-index: -1;
    opacity: 0;
    position: absolute;
    transition: opacity .2s ease;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 40px;
    font-weight: bold;
    color: $blue;
    text-shadow: 0 0 1px $white;
  }
}